<section class="footer diag">
    <div class="rapper elastagirl">
        <div class="logo-foot foot">
     
        </div>
        <div class="social-foot foot">
            <ul class="foot-social">
                <li><a href="https://www.linkedin.com/in/zadé-moore-54678b101" target="blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/zademoore/" target="blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.behance.net/zademoore" target="blank"><i class="fa fa-behance"></i></a></li>
            </ul>
        </div>
        <div class="copy-foot foot">
            <%= link_to root_path do %>
                <%= image_tag 'Zadé-001.svg', class: 'foot-logo' %><p>&copy;2016</p>
            <% end %> 
        </div>
    </div>
</section>