/************* INDEX **************/

.le-produit {
    height: 28em;
    width: 48%;
    background-size: cover;
    background: no-repeat center center;
    display: inline-block;
    position: relative;
}

.produit-link {
    position: absolute;
    height: 100%;
    width: 100%;
}

