<%= render :partial => 'spree/shared/header' %>
<section class="about diag">
    <h1>blog</h1>
    
    <div class="undev" style="text-align:center; display:block; margin: 0 auto; margin-top:3em;">
        <h3>This page is in development... check back soon and see what's news! ;)</h3>
    </div>
    
</section>
