<%= render :partial => 'spree/shared/header' %>
<section class="about diag">
    <h1>blog</h1>
    <% if admin_spree_user_signed_in? %>
        <%= link_to new_story_path, remote: true do %>
            <button class="modal-trigger">New Story</i></button>
        <% end %>
    <% end %>
    
    <div class="blog-container">
    <% @story.each do |story| %>
        <div class="post-contain">
            <%= link_to story, class: 'story-link' do %>
                <article class="post"> 
                    <div class="post-date">
                        today
                    </div>
                    <div class="post-image">
                    
                    </div>
                    <div class="post-title">
                        <h3><%= story.title %></h3>
                    </div>
                </article> 
            <% end %>
        </div>
    <% end %>
    </div>
        
    
</section>
