<%= render :partial => 'spree/shared/header' %>
<section class="about diag">
    <h1>blog</h1>

    <%= link_to new_story_path, remote: true do %>
        <button class="modal-trigger">New Story</i></button>
    <% end %>
    
    <% @story.each do |story| %>
        <%= link_to story, class: 'story-link' do %>
            <div class="blog-post">  
                <h3><%= story.title %></h3>
            </div> 
        <% end %>
    <% end %>
        
    
</section>
