<section class="domicile">
        
</section>
<section class="story-body diag">
    <div class="container">
        
        <div class="row">
            <div class="post-date col-md-2">
                time
            </div>
            <div class="col-md-1"></div>
            <div class="story-title col-md-8">
                <h2><%= @story.title %></h2>
            </div>    
        </div>
        
        <div class="story-body">
            <p><%= @story.body %></p>
        </div>
    </div>
</section>