<section class="about">
    <h1>about</h1>
    <p>a lot about what I'm up to and maybe some links to where you can find out more. the background image for this section should have some sort of color filter and slight blur so to make this paragraph legible. maybe add a link to my "look-book"</p>
    
</section>