@font-face {
    font-family: 'Montserrat';
    src: font-url("Montserrat-UltraLight.otf") unquote("format('opentype')");
}

@font-face {
    font-family: 'League Spartan';
    src: font-url("LeagueSpartan-Bold.otf") unquote("format('opentype')");
}
