section.footer {
    background-color: #000;
    color: #F7F7F7;
    margin-bottom: 0;
    font-size: 18px;
    padding-top: 1em;
}

.foot {
    display: inline-block;
    width: 47%;
}

.foot-2 {
    display: inline-block;
    width: 39%;
}

.footer a {
    color: #F7F7F7;
}

.foot-nav li {
    margin-top: 1em;
}

.foot-logo {
    display: block;
    text-align: center;
}

.foot-logo img{
    height: 3.6em;
}

.right-box {    text-align: right;    }

.copy {
    font-size: 7px;
}

.column-flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

ul.foot-social {
    text-align: center;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 4em;
}

.foot-social li {
    display: inline-block;
    float: left;
    width: 33.333%;
}

.foot-social li a i {
    font-size: 1.3em;
}

.contact-button {
    padding: 15px 23px;
    border: 1px solid #F7F7F7;
    float: right;
    margin-top: 5.5em;
}