nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 52px;
    z-index: 999;
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: #e0e0e0;
    color: #000;
    font-weight: 700;
}

div.top-logo {
    padding-top: 2px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.top-logo img {
    height: 50px;
}

div.nav-list {
    position: relative;
}

// ul.nav-links {
//     float: right;
// }

.nav-links li {
    position: relative;
    text-align: center;
    float: left;
    width: 20%;
    margin-top: 1em;
}

.nav-links li > ul {
    display: none;
}

.nav-links li:hover > ul {
    display: block;
}

li.logoli {
    margin-top: 0;
}

ul.aisles li {
    width: 100%;
}

ul.taxons-list li {
    display: block;
    text-align: left;
    padding: 0 1em;
}