<nav class="top">
    <div class="top-logo">
        <%= logo %>
    </div>
    <div class="nav-list">
        <ul class="nav-links">
            <li><%= link_to 'shop', products_path %></li>
        </ul>
    </div>
</nav>