<nav class="top">
    <div class="top-logo">
        <%= logo %>
    </div>
    <div class="nav-list">
        <ul class="nav-links">
            <li>projects</li>
            <li>blog</li>
        </ul>
    </div>
</nav>