<nav class="top">
    <div class="nav-list rapper">
        <ul class="nav-links">
            <li>about</li>
            <li>blog</li>
            <li class="logoli">
                <div class="top-logo">
                    <%= logo %>
                </div>
            </li>
            <li><%= link_to 'shop', products_path %></li>
            <li>look-book</li>
        </ul>
    </div>
</nav>